name: Build and Test C++

on: [push, pull_request]

jobs:
  valgrind:
    name: valgrind ubuntu
    runs-on: ubuntu-20.04
    steps:

      - name: Cancel previous runs on the same branch
        if: ${{ github.ref != 'refs/heads/main' }}
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: cmake, RunTests, and valgrind on ubuntu-20.04
        run: |
          sudo apt update
          sudo apt-get install valgrind -y
          mkdir build
          cd build
          cmake ../
          cmake --build . -- -j 6
          ctest -j 6 --output-on-failure
          valgrind --leak-check=full --show-leak-kinds=all --errors-for-leak-kinds=all ctest -j 6 --output-on-failure

  asan:
    name: ASAN ubuntu
    runs-on: ubuntu-20.04
    steps:

      - name: Cancel previous runs on the same branch
        if: ${{ github.ref != 'refs/heads/main' }}
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: cmake, RunTests with address- and undefined sanitizer on Ubuntu
        run: |
          sudo fallocate -l 16G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile
          swapon -s
          mkdir build-asan
          cd build-asan
          cmake -DCMAKE_BUILD_TYPE=ASAN ../
          cmake --build . -- -j 6
          swapon -s
          ./RunTests

  tsan:
    name: TSAN ubuntu
    runs-on: ubuntu-20.04
    steps:
      - name: Cancel previous runs on the same branch
        if: ${{ github.ref != 'refs/heads/main' }}
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: cmake, RunTests with thread sanitizer on Ubuntu
        run: |
          mkdir build-tsan
          cd build-tsan
          cmake -DCMAKE_BUILD_TYPE=TSAN ../
          cmake --build . -- -j 6
          TSAN_OPTIONS="memory_limit_mb=6000" ./RunTests

  windows:
    name: Windows Latest
    runs-on: windows-latest
    steps:

    - name: Cancel previous runs on the same branch
      if: ${{ github.ref != 'refs/heads/main' }}
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ github.token }}

    - name: Checkout code
      uses: actions/checkout@v2

    - name: cmake, RunTests with Windows
      run: |
        mkdir build-win
        cd build-win
        cmake ..
        cmake --build . --config Release -j 6
        ctest -C Release -j 6
